<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-lg-12 col-md-12'>
      <%= link_to 'Initiate rescuing sequence', sequences_path, method: :post, class: 'btn btn-info' %>
    </div>
  </div>
</div>