<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-lg-12 col-md-12'>
      <div>Data Download Complete</div>
      <%= link_to 'Parse Downloaded Data', perform_parse_sequences_path, method: :post, class: 'btn btn-primary' %>
    </div>
  </div>
</div>