<div class='container'>
  <div class='row top'>
    <div class='col-xs-12 col-lg-12 col-md-12'>
      <%= link_to 'Post parsed Data', post_data_sequences_path, method: :post, class: 'btn btn-success' %>
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>source</th>
              <th>start_node</th>
              <th>end_node</th>
              <th>start_time</th>
              <th>end_time</th>
            </tr>
          </thead>
          <tbody>
            <% @hints.each do |hint| %>
              <tr>
                <th scope="row"><%= hint.source %></th>
                <td><%= hint.start_node %></td>
                <td><%= hint.end_node %></td>
                <td><%= hint.start_time[0...-1] %></td>
                <td><%= hint.end_time[0...-1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>